.details-btn {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(25, 77, 59);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.details-btn:hover {
    background-color: rgb(30, 116, 86);
}

.border {
    border-left-color: rgba(42, 128, 98, 255);
    border-right-color: rgba(42, 128, 98, 255);
    border-top-color: rgba(42, 128, 98, 255);
    border-bottom-color: rgba(42, 128, 98, 255);
}

.create-app-panel {
    background-color: rgba(17, 51, 39, 0.2);
}
